*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #9a9ebb;
}

.container {
  background-color: rgba(245, 222, 179, 0.644);
  padding: clamp(5px, 3vw, 20px);
  width: 40vw;
  min-width: 520px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.header-search {
  position: relative;
  display: flex;
  align-items: center;
}

.header-search i {
  position: absolute;
  font-size: 1.2rem;
  padding-left: 3px;
}

.header-search input {
  font-size: 1rem;
  padding-left: 20px;
  min-width: 80px;
  width: 10vw;
  height: 30px;
  border: 1px solid wheat;
  outline: none;
  border-radius: 10px;
}

.header-search input::placeholder,
.header-search i {
  color: gray;
}
/* ------------------MAIN SECTION------------------------- */
.main-info,
.user-info {
  gap: 0.5rem;
  display: flex;
  text-align: left;
  align-items: center;
}
.main-info {
  font-size: 0.7rem;
}

.main-info div {
  display: flex;
  align-items: center;
  flex-basis: 25%;
}

.user-info {
  position: relative;
  margin: 5px 0;
  height: 35px;
  background-color: azure;
  border-radius: 10px;
  font-size: 0.75rem;
}

.user-info img {
  position: relative;
  left: 5px;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-info > p {
  margin: 0 2px;
}

.user-info :nth-child(2),
.user-info :nth-child(3) {
  width: 95px;
}

.user-info :nth-child(4) {
  width: 165px;
}

.user-info button {
  position: absolute;
  right: 10px;
  display: none;
  font-size: 0.6rem;
  width: 5vw;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: wheat;
  border-radius: 5px;
}

.user-info:hover {
  transform: scale(1.05);
  transition: 1ms ease;
}

.user-info:hover button {
  display: inline-block;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;
}

.footer button {
  width: 65px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: wheat;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

@media (width<1530px) {
  .container {
    width: 30vw;
  }
  .user-info,
  .main-info {
    font-size: 0.7rem;
  }

  .user-info :nth-child(2),
  .user-info :nth-child(3) {
    width: 65px;
  }
  .user-info button {
    width: 75px;
  }
  .user-info :nth-child(4) {
    width: 135px;
  }
}
