*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

:root {
  --mainColor: #aa0000b7;
  --secondColor: #ff033e;
  --barColor: #efecec8a;
  --mainShadow: 0 0 5px 5px var(--mainColor);
}

body {
  background: url("https://static.vecteezy.com/system/resources/previews/018/874/566/original/abstract-red-thunder-light-power-motion-spark-background-vector.jpg")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  backdrop-filter: blur(1px);
}

.container {
  position: relative;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.692);
  box-shadow: var(--mainShadow);
  width: 30vw;
  min-width: 220px;
  padding: 1%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 2vh;
  padding: 2%;
  cursor: pointer;
}

.nav-info {
  margin: 1.5vh 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.nav-info h3 {
  font-size: 0.7rem;
}

.track-picture {
  width: 15vw;
  min-width: 150px;
  margin-top: 1vh;
}

.track-picture img {
  border: 2px solid var(--secondColor);
  border-radius: 5%;
  width: 100%;
}

.music-bar,
.footer {
  position: relative;
  padding: 1vh 2vw;
}

.music-progress {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 12px;
  background-color: var(--barColor);
}

.music-progress::before {
  content: "";
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 30%);
  height: 12px;
  background-color: var(--mainColor);
}

.music-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.music-buttons .btn span:hover,
.nav span:hover {
  transition: 5ms ease-in-out;
  transform: scale(1.5);
  color: var(--mainColor);
  text-shadow: 0 0 10px crimson;
}


.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 2px;
  font-size: 0.8rem;
  margin: 1vh auto;
  cursor: pointer;
}

.track:hover {
  outline: 2px solid var(--mainColor);
  transform: scale(1.1);
  box-shadow: var(--mainShadow);
}
