*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purpleColor: #7d57c1;
  --iconsColor: #c9b5dc;
  --bcgColor: linear-gradient(
    90deg,
    rgba(237, 200, 230, 1) 0%,
    rgb(235, 188, 226) 30%,
    rgba(243, 215, 245, 1) 100%
  );
  --mainColor: linear-gradient(
    0deg,
    rgba(125, 87, 193, 1) 20%,
    rgba(113, 78, 175, 1) 50%,
    rgba(155, 122, 214, 1) 100%
  );
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bcgColor);
  color: #fefefe;
  font-family: sans-serif;
}

.container {
  width: clamp(200px, 22vw, 400px);
}

.msg,
.search span,
.contact,
.new-msg {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: var(--iconsColor);
}

.nav div span {
  padding: 20px;
  font-size: 2.5rem;
}

.nav .search {
  background-color: var(--purpleColor);
  flex: 1;
}

.nav .contact {
  background-color: #7e57c1e5;
}

.main {
  background: var(--mainColor);
}

.msg {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}

.msg:hover,
.search span:hover,
.contact:hover {
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 20px #4f3480;
}

.msg img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  outline: 4px solid rgb(115, 81, 150);
}

.msg-info h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1ch;
}

.msg-info p {
  height: 4ch;
  overflow: hidden;
  font-size: 0.7rem;
}

.new-msg {
  position: relative;
}

.new-msg span {
  position: absolute;
  right: 15px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purpleColor);
  background: #f9f9f9;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2rem;
}

.msg-chat {
    background-color: #fefefe;
    width: 25vw;
    height: 30vh;
}