@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background: linear-gradient(220.55deg, #FADD76 0%, #9F3311 100%);
}

.cart-container {
    border: 6px solid #9F3311;
    display: flex;
    padding: 20px;
    background: #fff;
}

.cart-container .cart-img img {
    width: 300px;
    height: 300px;
    background: transparent;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content-container span:first-child{
    background: #9F3311;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    width: 100px;
    font-size: .7rem;
    padding: 2px;
}
.content-container h1 {
    font-size: 2.5rem;
}
.content-container h4 {
    font-size: .7rem;
    text-decoration: line-through;
}
.content-container h2 {
    font-size: 2rem;
}
.content-container p {
    font-size: .6rem;
    color: gray;
}

.btn-1 button,.btn-2 button{
    cursor: pointer;
    padding: 10px;
    background: #9f3211bb;
    border: none;
    font-size: .8rem;
    font-weight: 550;
}

.btn-1 button {
    margin: 10px;
    width: 320px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 3px 4px 0 1px #8f2d10;
}

.btn-2{
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn-2 button {
    width: 150px;
    border-radius: 10px;
    box-shadow: 3px 4px 0 1px #8f2d10;
}
.btn-2 button i {
    font-size: 1.2rem;
}